/*type*/
p{
    display: block;
}
p{
    display: inline;
}
p{
    display: flex;
}
p{
    display: grid;
}
p{
    display: table;
}
p{
    display: none;
}

/*taille*/
p{
    width: 100%; /*largeur fixe*/
    min-width: 50px; /*largeur minimum*/
    max-width: 600px; /*largeur maximum*/
    height: 100px; /*heuteur fixe*/
    min-height: 50px; /*hauteur minimum*/
    max-height: 200px; /*hauteur maximum*/
}