/*taille*/
p{
    width: 100%; /*largeur fixe*/
    min-width: 50px; /*largeur minimum*/
    max-width: 600px; /*largeur maximum*/
    height: 100px; /*hauteur fixe*/
    min-height: 50px; /*hauteur minimum*/
    max-height: 200px; /*hauteur maximum*/
}

/*marge*/
p{
    padding: 10px; /*marge interne*/
    padding-top: 10px; /*marge interne suppérieur*/
    padding-right: 10px; /*marge interne droite*/
    padding-bottom: 10px; /*marge interne inférieur*/
    padding-left: 10px; /*marge interne gauche*/
    margin: 10px; /*marge externe*/
    margin-top: 10px; /*marge externe suppérieur*/
    margin-right: 10px; /*marge externe droite*/
    margin-bottom: 10px; /*marge externe inférieur*/
    margin-left: 10px; /*marge externe gauche*/

    padding /*ou  margin*/: 10px; 
    /*marge pour les 4 cotés*/
    padding /*ou margin*/: 10px 20px; 
    /*10px pour les marges haut et bas et 20px pour les marges gauche et droite*/
    padding /*ou margin*/: 10px 20px 15px; 
    /*10px pour la marge du haut, 20px pour les marges gauche et droite et 15px pour la marge du bas*/
    padding /*ou margin*/: 10px 15px 5px 20px;
    /*10px pour la marge du haut, 15px pour la marge de droite, 5px pour la marge du bas et 20px pour la marge de gauche*/

    margin: auto; /*permet de centrer horizontalement*/

}

/*taille et marge*/
p{
    box-sizing: border-box;
    /*la taille et les marges se compléte (si width = 200px et le padding = 20px alors pour que la taille finale soit de 200px 
    le width passera à 160px (200-20-20))*/
    box-sizing: content-box; 
    /*la taille et les marges sont additionner (si width = 200px et le padding = 20px alors la taille finale sera de 240px)*/
}