/*flotant*/
p{
    float: right; /*l'élément flotte à droite*/
    float: left; /*l'élément flotte à gauche*/
    float: none; /* l'élèment ne flotte pas*/

    clear: none; /*l'élément se place à côté de l’élément flottant*/
    clear: left; /*l’élément se place en dessous de l’élément flottant à gauche*/
    clear: right; /*l’élément se place en dessous de l’élément flottant à droite*/
    clear: both; /*l’élément se place en dessous de l’élément flottant à gauche et/ou à droite*/
}

/*allignement vertical*/
p{
    vertical-align: top; /*les blocs s'alligne par le haut*/
    vertical-align: middle; /*les blocs s'alligne par le milieu*/
    vertical-align: bottom; /*les blocs s'alligne par le bas*/
}

/*position*/
p{
    position: static; /*position par défaut*/
    position: absolute; /*se place au dessus des autres contenue 
        et se positionne dans la page ou le parent dans lequel il se situe*/
    position: fixed; /*se place au dessus des autres contenue 
        et le possitionnement ne bouge plus même en cas de scroll sur la page, l'élément reste toujours afficher a l'écran*/
    position: relative; /*se place au dessus des autres contenue et se positionne par apport à sa place initiale*/
    position: sticky; /*fontionne comme fixed mais ne se place pas au dessus des autres contenue*/

    /*s'utilise avec:*/
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    /* pour gérer la supperposition :*/
    z-index: 2; /*l'élément avec la valeur la plus élevé sera au dessus*/
}


/*flexbox*/
p{
    display: flex;

    flex-direction: row; /*allignement horizontal*/ /*axe horizontal principal et vertical secondaire*/
    flex-direction: column; /*allignement vertical*/ /*axe vertical principal et vertical secondaire*/
    flex-direction: row-reverse; /*allignement horizontal inversé*/
    flex-direction: column-reverse; /*allignement verticalinversé*/

    flex-wrap: nowrap; /*place tout sur une seule ligne*/
    flex-wrap: wrap; /*les élément vont automatiquement à la ligne quand il n'ya plus de place*/
    flex-wrap: wrap-reverse; /*les élément vont automatiquement à la ligne dans le sens inverse quand il n'y a plus de place*/

    justify-content: start; /*pour l'axe principal*/
    align-items: center; /*pour l'axe secondaire*/
    align-self: auto; /*pour un seul élément*/
    flex-basis: auto; /*largeur de la flexbox*/
    order: 1; /*permet de changer l'ordre des éléments*/

    /*justify-content*/
    justify-content: start; /*allignement à gauche*/
    justify-content: center; /*allignement central*/
    justify-content: end; /*allignement à droite*/
    justify-content: space-between; /*espace les éléments entre eux*/
    justify-content: space-around; /*espace les éléments entre eux + la moitié de cette espacement sur les cotés*/
    justify-content: space-evenly; /* espace les élémnts entre eux en plus du bord à part égale*/
    justify-content: flex-start; /*allignement à droite*/
    justify-content: flex-end; /*allignement à gauche*/

    /*align*/
    align-items: start; /*allignement part le haut*/
    align-items: center; /*allignement central*/
    align-items: end; /*allignement part le bas*/

    align-content: space-between; /*espace les éléments entre eux*/
}