/*NE PAS TOUCHER CE CODE*/
div {
    width: 150px;
    height: 125px;
    background-color: blueviolet;
    flex-basis: 22%;
}

section {
    height: 500px;
    border: 1px solid rgb(254, 237, 237);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

#first{
    order: 1;
}

#height {
    height: 170px;
}