/*type*/
p{
    display: block;
    display: inline;
    display: flex;
    display: grid;
    display: table;
    display: none; /*fait "disparaitre un élèment*/
    visibility: hidden; /*masque un élèment*/
}

/*barre de défilement*/
p{
    overflow: visible; /*si le contenu dépasse les limites fixées alors il reste visible et sort volontairement du bloc.*/
    overflow: hidden; /*si le contenu dépasse les limites, il sera coupé, on ne verra donc pas la partie qui dépasse.*/
    overflow: scroll; /*on verra apparaitre des barres de défilement (scrollbar). Le contenu ne dépassera donc pas.*/
    overflow: auto; /*le navigateur décide par lui-même de mettre ou non des barres de défilement.*/

    overflow-x: auto; /*définie uniquement le dépassement horizontal*/
    overflow-y: auto; /*définie uniquement le dépassement vertical*/
}

/*ombre*/
p{
    box-shadow: 10px 10px 8px 0 gray; /*ombre horizontal -> ombre vertival ->
        rayon de flou -> étalage de l'ombre -> couleur de l'ombre*/
    text-shadow: 2px 0 10px orange; /*ombre horizontal -> ombre vertival ->
    rayon de flou -> couleur de l'ombre*/
}


/*survol*/
p{
    color: blue;
}
p:hover{
    color: yellow;
}

/*le clic*/
p{
    color: blue;
}
p:active{
    color: yellow;
}

/*sélection*/
p{
    color: blue;
}
p:focus{
    color: yellow;
}

/*visité*/
p{
    color: blue;
}
p:visited{
    color: yellow;
}

/*transparence*/
p{
    opacity: 0; /*transparence total*/
    opacity: 1; /*aucune transparence*/
}